{% extends "layout.html" %}
{% block content %}
    <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s6"><a class="active" href="#main-tab">Pretty</a></li>
        <li class="tab col s6"><a href="#technical">Json</a></li>
      </ul>
    <div id="main-tab" class="col s16 ">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="header center">{{ category.title() }} Category Page!</h1>
            </div>
        </div>
        <div class="section">
            <div class="w3-container w3-center col s12">
                <div class="flex">
                    {% for product in (productsList) %}
                        <section>
                            <div class="card" style="margin: 5px; padding: 10px; height: 100%; width: 100%">
                                <section class="row" style="height: 80%">
                                    <div class="row" style="height: 80%; vertical-align: middle">
                                        <img src={{product.imgSrc}} alt={{product.title.title()}} />
                                    </div>
                                    <div class="row">
                                        <h2>{{ product.title }}</h2>
                                        <br>
                                    </div>
                                </section>
                                <section class="row">
                                    <aside>
                                        <span class="card-title activator text-darken-4"><i class="material-icons right">more_vert</i></span>
                                        <ul>
                                        <li>{{ product.price }}</li>
                                        </ul>
                                        <form method="POST" action='/extract'>
                                            <input type="hidden" name="url" value="{{product.url}}">
                                            <div class="w3-center">            
                                                <button class="btn waves-effect waves-light" type="submit" name="action">Extract
                                                    <i class="small material-icons right">content_copy</i>
                                                </button>
                                            </div>
                                        </form>
                                    </aside>
                                </section>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ product.title }}<i class="material-icons right">close</i></span>
                                    <pre>{{ product.jsonify() }}</pre>
                                    <input style="color: black" type="text" rows="10" id="singleProductJson{{loop.index0|string}}" value="{{ product.jsonify() }}"></input>
                                    <br>
                                    <button><a href={{product.url}}>Visit Store Page</a></button>
                                </div>
                            </div>
                        </section>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>
    <div id="technical">
            <div class="section no-pad-bot" id="index-banner">
                <div class="container">
                    <h1 class="header center">{{ category.title() }} Category Json Output!</h1>
                    <br>
                    <h3 class="header center">Seo Keywords: {{seo}}</h3>
                </div>
            </div>
            <div class="section">
                <div class="w3-container w3-center" style="width: auto;">
                    <pre>[
                        {%- for product in (productsList) -%}
                        {{ product.jsonify() }}
                        {%- if not loop.last -%}
                        ,
                        {%- endif -%} 
                        {%- endfor -%}
                    ]</pre>
                </div>
            </div>
            <input type="text "id="fullCategoryJson" value="[{%- for product in (productsList) -%}
                {{ product.jsonify() }}
                {%- if not loop.last -%}
                    ,
                {%- endif -%} 
            {%- endfor -%}]">
        </input>
    </div>
    <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
            <li>
                <a title="Original Shop" class="btn-floating red medium" href="{{url}}"><i class="material-icons">shop</i></a>
            </li>
            <li>
                <button id="copyCategoryJson" title="Copy Category Json" class="btn-floating green darken-1 medium" ><i class="material-icons">content_copy</i></button>
            </li>
            <li><a title="#Category-Top" class="btn-floating blue" href="#Category-Top"><i class="material-icons">publish</i></a></li>
            </ul>
    </div>         
{% endblock %}

{% block script %}
<script>    
    $(document).ready(function(){
        $('.omniClass').slick({
            centerMode: true,
            centerPadding: '100px',
            slidesToShow: 1,
            variableWidth: true,
            infinite: true,
            arrows: true,       
            focusOnSelect: true,

            responsive: [
                {
                breakpoint: 768,
                settings: {
                    arrows: true,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
                },
                {
                breakpoint: 480,
                settings: {
                    arrows: true,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
                }
            ]
            });
    });

    function jsonFullCopy() {
        var copyText = document.getElementById("fullCategoryJson");
        copyText.select();
        document.execCommand("Copy");
    }
    
    document.getElementById("copyCategoryJson").addEventListener("click", function() {
        jsonFullCopy()
    }, false);

</script>
{% endblock %}