{% extends "layout.html" %}
{% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h2 class="header center">Category & Product Data Extracting Tool</h2>
        <br>
        <div class="row center">
        <div class"row" align="left">
            <li>Navigate to <a href="https://burlesquedesign.com/collections/all" style="color:crimson " target="_blank"><u>Burlesque Design</u></a></li>
            <li>Select a Category (i.e. Sort By Category) or individual Product URL</li>
            <li>Paste URL into the Navbar and press enter!</li>
        </div>
        </div> 
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="col-md-12">
            <!-- Search Form -->
            <form method="POST" action='/extract' class="input-group input-group-lg">
            <input  autofocus id="you-search" name="url" type="text" class="form-control" autocomplete="off" placeholder="https://burlesquedesign.com/collections/posters-prints">
            <input type="hidden" name="change" value="1">
            <div class="w3-center">            
                <button class="btn waves-effect waves-light" type="submit" name="action">Extract
                    <i class="material-icons right">send</i>
                </button>
            </div>
            </form>
            <!-- /Search Form -->
            </div>
        </div>
    </div>
{% endblock %}


