<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>OmniTV!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css')}}" type='text/css' rel='stylesheet'/>
  <link href="{{ url_for('static', filename='css/style.css')}}" type='text/css'  rel='stylesheet'/>
  <link href="{{ url_for('static', filename='css/materialize-social.css')}}" type='text/css' rel='stylesheet'/> 
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick.css')}}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick-theme.css')}}"/>
</head>

  <body>
      <nav class="lighten-1" role="navigation">
          <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">OmniTV!</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/">Secret Room!</a></li>
            </ul>
      
            <ul id="nav-mobile" class="side-nav">
              <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
        </nav>
    <div class="wrapper">
        <div class="container">
          <div class="section">
          <div class="grid col s18 m6">
              <div id="contented">
          <!-- child template -->
          {% block content %}{% endblock %}

          <!-- errors -->
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
          {% endif %}

          <!-- messages -->
          {% for message in get_flashed_messages() %}
            {{ message }}
          {% endfor %}
          </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer grey">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Our Vision</h5>
              <p class="grey-text text-lighten-4">Eventually this will be a sort of analytics tool for Twitch streaming content..</p>   
    
            </div>
            <div class="col l6 s12">
              <h5 class="white-text">Connect</h5>
              <ul>
                <li><a class="waves-effect waves-light btn social twitter"><i class="small material-icons fa-twitter">local_hotel</i>@Kleptomaniacist</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>


    <!--Import jQuery before materialize.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/init.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/slick.min.js')}}"></script>

    {% block script %} {% endblock %}

  </body>
</html>

