{% extends "layout.html" %}
{% block content %}
<ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s6"><a class="active" href="#main-tab">Pretty</a></li>
    <li class="tab col s6"><a href="#technical">Json</a></li>
</ul>
<div id="main-tab" class="col s12 ">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center">{{ productDetails.title.title() }} Product Page!</h1>
        </div>  
    </div>
    <div class="section">
        <div class="w3-container w3-center" style="width: auto">
            <div class="card w3-hover-shadow w3-dark-grey w3-center" style="margin: 25px; padding: 30px">
                <img src={{productDetails.imgSrc}}/>
                <div class="card-content">
                    <span class="card-title activator text-darken-4">{{ productDetails.title }}<i class="material-icons right">more_vert</i></span>
                    <p> $$ Jijna Object Goes Here!</p>
                </div>
                <div class="card-action">
                    <a href={{productDetails.url}}>Visit Store Page</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ productDetails.title }}
                        <i class="material-icons right">close</i>
                    </span>
                    <pre>{{ productDetails.jsonify() }}</pre>
                    <input style="color: black" type="text" rows="10" id="singleProductJson" value="{{ productDetails.jsonify() }}">
                    </input>
                    <div class="w3-center">            
                        <a class="btn waves-effect waves-light" onclick="jsonSingleCopy()">Extract
                            <i class="small material-icons right">content_copy</i>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<div id="technical">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h3 class="header center">{{ productDetails.title.title() }} Category Json Output!</h3>
                <br>
                <h3 class="header center">Seo Keywords: {{seo}}</h3>
            </div>
        </div>
        <div class="section">
            <div class="w3-container w3-center" style="width: auto;">
                <pre>[ {{ productDetails.jsonify() }}]</pre>
            </div>
        </div>
        <input type="text "id="fullProductJson" value="[{{ productDetails.jsonify() }}]">
    </input>
</div>
<div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
        <li>
            <a title="Original Shop" class="btn-floating red medium" href="{{url}}"><i class="material-icons">shop</i></a>
        </li>
        <li>
            <button id="copyProductJson" title="Copy Category Json" class="btn-floating green darken-1 medium" ><i class="material-icons">content_copy</i></button>
        </li>
        </ul>
</div>     
{% endblock %}

{% block script %}
<script> 
    function jsonSingleCopy() {
        var target = document.getElementById("singleProductJson");
        target.select();
        document.execCommand("Copy");
    } 

    function jsonFullCopy() {
        var copyText = document.getElementById("fullProductJson");
        copyText.select();
        document.execCommand("Copy");
    }

    document.getElementById("copyProductJson").addEventListener("click", function() {
        jsonFullCopy()
    }, false);

</script>
{% endblock %}